.temp
compile.log
compile-errors.log
ext/kernel/*.gch
ext/kernel/*.lo
ext/.libs/*
ext/kernel/extended/.libs/*
ext/kernel/extended/array.lo
ext/kernel/extended/fcall.lo
ext/autom4te.cache/*
ext/build/*
ext/include/*
ext/kernel/.libs/*
ext/modules
ext/.deps
ext/*.m4
ext/clean
ext/*.h
ext/*.la
ext/*.lo
ext/*.in
ext/Makefile
ext/*.sh
ext/*.php
ext/*.fragments
ext/*.global
ext/*.objects
ext/*.guess
ext/*.log
ext/*.nice
ext/*.status
ext/*.sub
ext/*.w32
ext/configure
ext/*.c
ext/install
ext/install-sh
ext/libtool
ext/missing
ext/mkinstalldirs
ext/twigz/*

.idea/
